#--------------------------------------------------
# KiCad lock files
#--------------------------------------------------

*.kicad_pcb.lck
*.kicad_pro.lck
*.kicad_sch.lck

#--------------------------------------------------
# KiCad autosave files
#--------------------------------------------------

*.kicad_sch-bak
*.kicad_pcb-bak
_autosave-*.kicad_pcb
_autosave-*.kicad_sch

#--------------------------------------------------
# KiCad backup directories
#--------------------------------------------------

*-backups/
backups/

#--------------------------------------------------
# User specific files
#--------------------------------------------------


#--------------------------------------------------
# macOS
#--------------------------------------------------

.DS_Store
